
<!DOCTYPE html>
<html lang="en">

  <!DOCTYPE html>
  <html lang="en">
  <head>
    <title>Coding together for teacher</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <style>
    .fakeimg {
      height: 150px;
      background: #aaa;

    }
    .card {
      opacity: 0.6;
      transition: opacity 0.3s ease-in;
    } 
    .card:hover {
      opacity: 1;
    }
    </style>

  </head>
  <body>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="http://127.0.0.1:8000/">Coding together</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>    
      </ul>
    </div>  
  </nav>
  
  
  </body>
  </html>
  
<head>
  <title>Coding together</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>
<pre>
</pre>
<br>
<div class="container">
  <div class="card" style="float:left;margin:40px;width:420px;height: 440px;" >
    <img class="card-img-top" src="codingimage.jpg" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title"  >Go back to the main</h4>
      <p class="card-text" style ="line-height: 7% ; color: rgb(102, 102, 102);"><h7>코딩투게더 홈페이지로 이동 합니다.</h7></p><br>
      <a href="http://127.0.0.1:8000/" class="stretched-link"></a>
    </div>
  </div>
</div>


<div class="container">
  <div class="card" style="float:right;margin:40px;width:420px;height: 440px;" display= "flex; flex-direction: row;">
    <img class="card-img-top" src="keyboard.jpg" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">Answer the questions now</h4>
      <p class="card-text" style ="line-height: 7% ; color: rgb(102, 102, 102);" ><h7>아이들의 질문에 답해주세요.<h7></p><br>
      <a href="http://127.0.0.1:8000/answer/anslist" class="stretched-link"></a>
    </div>
  </div>
</div>