<!-- 답변 올리는 페이지 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>


<!-- 
<form action="{%#%}" method="post">
    {% csrf_token %}
    ID :<input type="text" placeholder ="ID입력"></div><br>
    설명 :<input type="text" placeholder ="설명"></div><br>
    내용 :<input type="text" placeholder ="내용"></div><br>
    이미지 :<input type="image" placeholder ="이미지 첨부"></div><br>
    
</div>
</form> -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
<h3>Coding together</h3>
</div>
</div>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
<ul class="navbar-nav">
    <ul class="navbar-nav"></ul>
        <a class="navbar-brand" href="window.location.href='http://127.0.0.1:8000/" class="btn btn-dark">HOME</a>
        <li class="nav-item">
            <a class="nav-link" href="window.location.href='http://127.0.0.1:8000/answer/anslist'">질문 리스트로 돌아가기</a>
        </li>
    </ul>
    </nav>
</body>
</html>

{% extends 'base.html' %}
{% block content %}


<!-- 
<button class="btn btn-dark" onclick="window.location.href='http://127.0.0.1:8000/answer/anslist'">질문 리스트로 돌아가기</button>
<button onclick="window.location.href='http://127.0.0.1:8000/'" class="btn btn-dark" >HOME</button><br> -->

    <div class="container">
        <hr>
        <form method="post" enctype="multipart/form-data" action = "">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            ID :<input type="text" name ="teacher_id" placeholder ="ID입력"></div><br>
            제목 :<input type="text" name ="teacher_title" placeholder ="설명"></div><br>
            내용 :<input type="text" name ="teacher_content" placeholder ="내용"></div><br>
            이미지 :<input type="image" name ="techer_image" placeholder ="이미지 첨부"></div><br>
            id = "done" onsubmit="done();">
            <input type="submit" class="btn btn-light" value="답변 등록하기"/>
        </form>
        <form 
        </form>
    </div>
{% endblock %}

</form>

<script>
    function goBack() {
        window.history.back();
    }
    function done(){  
        alert('답변이 등록되었습니다.')
    }
    
</script>
