<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <style>
    #contents {
      font-size: 1rem;

    }
    #write {
      background-color : gray;
      border-radius: 3px;
      width: 120px;
      transition: background-color 0.3s ease-in;
    }
    #write:hover {
      background-color: lightgray;
    }
    table {
      font-size: 1em;
    }
  </style>
</head>
<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
		<div class="container-fluid">
			<a href="/" class="navbar-brand">Coding Together</a>
			<!-- /main/index.html -->
			<button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#main-nav">
        <span class="navbar-toggler-icon"></span>
			</button>
			
			<div id="main-nav" class="collapse navbar-collapse">
				<ul class="navbar-nav ml-auto">
					<li><a href="#" class="nav-item nav-link">Notice</a></li>
          <li><a href="#" class="nav-item nav-link active">Board</a></li>
          <li><a href="/logout/" class="nav-item nav-link" id="logout">Logout</a></li>
				</ul>
			</div>
    </div>
  </nav>
  <div class="jumbotron text-center">
    <h1>게시판</h1>
    <br>
    <div id="user_type"></div>
  </div>

  <div class="container-fluid text-center">
    <div class="col-md-8" style="margin: auto;">
      <div id="board_name"></div>
      <table class="table table-hover" id="contents">
        <thead class="table-sm">
          <th width="8%">번호</th>
          <th width="55%">제목</th>
          <th width="25%">글쓴이</th>
          <th width="12%">게시일</th>
        </thead>
        {% if b_list|length == 0 %}
          <tr>
            <td colspan=4>
              <div style="font-size: 1rem; height: 80px;">
                <p>게시글이 존재하지 않습니다.</p>
              </div>
            </td>
          </tr>
        {% endif %}
      </table>
      <button type="button" class="btn float-right" id="write">글쓰기</button>
    </div>
  </div>

  <script>
    
    
    $(document).ready(() => {
      if( !'{{ request.session.user_id }}') {
        alert("로그인 후 이용하세요")
        location.href = "/sign/login"
      }
      
      if('{{ request.session.user_type }}' == 0) {
        $('#board_name').html(`
          <h3> 내가 올린 질문 </h3> <br>`)
          $('#contents').append(`
          {% for c in b_list %}
            {%if request.session.user_id == c.account.user_id %}
              <tr>
                <td> {{ c.content_id }} </td>
                <td> {{ c.title }} </td>
                <td> {{ c.account.user_id }} </td>
                <td> {{ c.pub_date|date:"Y-m-d" }} </td>
              </tr>
            {% endif %}
          {% endfor %} `)
      } else if ('{{ session.user_type }}' == 1) {
        $('#board_name').html(`
          <h3> 답변 대기 중인 질문 </h3> <br>
        `)
        $('#contents').append(`
          {% for c in b_list %}
            {%if request.session.user_type != c.reply_chk %}
              <tr>
                <td> {{ c.content_id }} </td>
                <td> {{ c.title }} </td>
                <td> {{ c.account.user_id }} </td>
                <td> {{ c.pub_date|date:"Y-m-d" }} </td>
              </tr>
            {% endif %}
          {% endfor %} `)
      } 
      else {
        alert('invalid access')
        location.href = '/'
        // $('#board_name').html(`
        //   <h3> 관리자용 공지사항 페이지 </h3> <br>
        // `)
        // addContent()
      }
      $('#user_type').html('<h4> {{ request.session.user_id }} 님 환영합니다. </h4>')
    })



    $('#write').click((e) => {
      if('{{request.session.user_type}}' == 0 ){
        location.href = "/board/q_stu"
        }
      else{
        location.href = "/board/write"
        }
    })


    $('#logout').click((e) => {
      if('{{ request.session.user_id }}') {
        alert('성공적으로 로그아웃 되었습니다.')
      }
    })


  </script>
</body>
</html>