<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../../static/board/assets/fonts/material-icon/css/material-design-iconic-font.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/board/assets/css/board.css">
  <link rel="stylesheet" href="fonts.googleapis.com/earlyaccess/jejugothic.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

</head>
<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
		<div class="container-fluid">
			<a href="/" class="navbar-brand">Coding Together</a>
			<!-- /main/index.html -->
			<button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#main-nav">
        <span class="navbar-toggler-icon"></span>
			</button>
			
			<div id="main-nav" class="collapse navbar-collapse">
				<ul class ="navbar-nav ml-auto">
          {% if request.session.user_id %}
          <li><a href="#" class="nav-item nav-link">{{ request.session.user_id }} 님</a></li>
          {% endif %}
					
          <li><a href="/board/" class="nav-item nav-link active">Board</a></li>
          <li><a href="/logout/" class="nav-item nav-link" id="logout">Logout</a></li>
				</ul>
			</div>
    </div>
  </nav>
  <div class="jumbotron text-center" style="font-size: medium; font-family:Montserrat;">
    <h1>Board</h1>
    <br>
    <div id="user_type"></div>
  </div>

  <div class="container-fluid text-center">
    <div class="row">
      <div class="col-md-6">
        <h4 class="text-left">학생 질문 게시판</h4>
        <table class="table table-hover" id="stu">
          <thead class="table-sm">
            <th width="10%">번호</th>
            <th width="60%">제목</th>
            <th width="15%">글쓴이</th>
            <th width="15%">게시일</th>
          </thead>
        </table>
      </div>
      <div class="col-md-6">
        <h4 class="text-left">강의 게시판</h4>
        <table class="table table-hover" id="contents">
          <thead class="table-sm">
            <th width="10%">번호</th>
            <th width="60%">제목</th>
            <th width="15%">글쓴이</th>
            <th width="15%">게시일</th>
          </thead>
        </table>
        <button type="button" class="btn float-right" id="write">글쓰기</button>
      </div>
    </div>
  </div>

  <script>
    if(!'{{ request.session.user_id }}') {
      alert("로그인 후 이용하세요")
      location.href = "/sign/login"
    }
    
    $(document).ready(() => {
      if('{{ request.session.user_type }}' == 1){
        $('#contents').append(`
        {% for c in b_list %}
        {% if c.content_type == 1 %}
        <tr class="feed" no="{{ c.content_id }}">
          <td class="content_id"> {{ c.content_id }} </td>
          <td> {{ c.title }} </td>
          <td> {{ c.user_id.user_id }} </td>
          <td> {{ c.pub_date|date:"Y-m-d" }} </td>
              </tr>
              {% endif %}
            {% endfor %} `)
        $('#stu').append(`
        {% for c in b_list %}
        {% if c.content_type == 0 %}
        <tr class="qna" no="{{ c.content_id }}">
          <td class="content_id"> {{ c.content_id }} </td>
          <td> {{ c.title }} </td>
          <td> {{ c.user_id.user_id }} </td>
          <td> {{ c.pub_date|date:"Y-m-d" }} </td>
              </tr>
              {% endif %}
            {% endfor %} `)}
      else if('{{ request.session.user_type }}' == 0){
        location.href ='/board/stu/'
      }
      else {
        alert('invalid access')
        location.href = '/'
      }
    })



    $('#write').click((e) => {
        location.href = "/board/write"
      })
    $('#logout').click((e) => {
      if('{{ request.session.user_id }}') {
        alert('성공적으로 로그아웃 되었습니다.')
      }
    })

    $(document).on('click', '.feed', function() {
      let number = $(this).attr("no")
      location.href = "/board/lesson?lesson_id=" + number
    })
    $(document).on('click', '.qna', function() {
      let number = $(this).attr("no")
      location.href = "/board/lesson?lesson_id=" + number
    })

  </script>
</body>
</html>