<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../../static/board/assets/fonts/material-icon/css/material-design-iconic-font.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/board/assets/css/board.css">
  <link rel="stylesheet" href="fonts.googleapis.com/earlyaccess/jejugothic.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

</head>
<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
		<div class="container-fluid">
			<a href="/" class="navbar-brand">Coding Together</a>
			<!-- /main/index.html -->
			<button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#main-nav">
        <span class="navbar-toggler-icon"></span>
			</button>
			
			<div id="main-nav" class="collapse navbar-collapse">
				<ul class ="navbar-nav ml-auto">
          {% if request.session.user_id %}
          <li><a href="#" class="nav-item nav-link">{{ request.session.user_id }} 님</a></li>
          {% endif %}
					<!-- <li><a href="/board/" class="nav-item nav-link">Board</a></li> -->
                     <li><a href="/board/" class="nav-item nav-link active">Board</a></li>
                      <li><a href="/logout/" class="nav-item nav-link" id="logout">Logout</a></li>
				</ul>
			</div>
    </div>
  </nav>
  <div class="jumbotron text-center" style="font-size: medium; font-family:Montserrat;">
    <h1></h1>
    <br>
    <div id="user_type"></div>
  </div>

  <div class="container-fluid text-center">
    <!-- 여기에 게시글 넣을거임 -->
    {% for c in contents %}
        <div class="col-md-8">
            <span>
                <h4>제목 : {{c.title}}</h4></span>

            {% if c.img %}
            <div>
                <img src="/ans_img/{{c.img}}" />
            </div>
            {% endif %}
            <div>
              <p>내용 :{{c.content}}</p>
          </div>
        </div>
    {% endfor %}
  </div>

</body>
</html>