<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Coding Together :: 회원가입</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/static/sign/assets/css/signup_main.css">
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
		<div class="container-fluid">
			<a href="/" class="navbar-brand">Coding Together</a>
			<!-- /main/index.html -->
			<button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#main-nav">
				<span class="menu-icon-bar"></span>
				<span class="menu-icon-bar"></span>
				<span class="menu-icon-bar"></span>
			</button>
			
			<div id="main-nav" class="collapse navbar-collapse">
				<ul class="navbar-nav ml-auto">
					<li><a href="/board/" class="nav-item nav-link active">Board</a></li>
          <li><a href="/sign/signup_main" class="nav-item nav-link">
            <span class="glyphicon glyphicon-user"></span>
            Sign Up</a></li>
          <li><a href="/sign/login" class="nav-item nav-link">
            <span class="glyphicon glyphicon-log-in"></span>
            Login</a></li>
				</ul>
			</div>
		</div>
  </nav>
  
  <div class="jumbotron text-center" style="height: 200px;">
    <div class="container">
      <h1 style="vertical-align: bottom;">회원가입</h1>
      <p>Coding Together의 여정을 함께해요</p>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row" style="width: 75%; margin: auto;">
      <div class="col-md-6">
        <div class="card text-center" style="width: 400px; margin:auto;" id="stu">
          <img src="/static/sign/assets/img/student.jpg" alt="kids" class="card-img-top"
          style="height: 370px;">
          <div class="card-body">
            <h3 class="card-title">학생이신가요?</h3>
            <br>
            <p class="card-text">교육을 원하는 학생은 여기로 가입하세요</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card text-center" style="width: 400px; margin:auto" id="teach">
          <img src="/static/sign/assets/img/teacher.jpg" alt="teacher" class="card-img-top"
          style="height: 370px;">
          <div class="card-body">
            <h3 class="card-title">교사이신가요?</h3>
            <br>
            <p class="card-text">학생을 가르치면서 크레딧을 얻으세요!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    $('#stu').click((e) => {
      location.href = '/sign/signup_stu'
    })
    $('#teach').click((e) => {
      location.href = '/sign/signup_tea'
    })
  </script>
</body>
</html>