<h1>회원가입 선생</h1>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sign up page</title>
</head>
<body>
    {% csrf_token %}
    <input type="text">
    <input type="text">
    <input type="text">
    <input type="text">
    <input type="text">
    <script>
        let check = chk_pw.addEventListener('change', function(e) {
            let pw = document.getElementById('pw')
            let chk_pw = document.getElementById('chk_pw')
            let alert = document.getElementById('alert')
            
            if (pw.value == chk_pw.value) {
                alert.innerHTML = "비밀번호가 일치합니다."
                alert.style.color = 'green'
                submit.disabled = false
            } else {
                alert.innerHTML = "비밀번호가 일치하지 않습니다"
                alert.style.color = 'red'
                submit.disabled = true
            }
        })
    </script>    
</body>
</html>