<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>sign up for teacher</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="../../static/sign/assets/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="../../static/sign/assets/css/regist_style.css">
</head>
<body>

    <div class="main">
        <div class="container">
            <div class="signup-content">
                <div class="signup-img">
                    <img src="../../static/sign/assets/img/signup-img.jpg" alt="">
                </div>
                <div class="signup-teacher-form">
                    <form method="POST" class="register-form" id="register-form" action ="/sign/regist_user/">
                        {% csrf_token %}
                        <h2>register for teacher </h2>
                        <div class="form-group">
                            
                            <label for="name">ID :</label>
                            <input type="text" style=width:500px name="user_id" id="user_id" required/>
                            
                        
                        </div>
                        <div class="form-group">
                            <label for="passward">비밀번호 :</label>
                            <input type="password" name="user_pw" id="pw" required/>
                        </div>
                        <div class="form-group">
                            <label for="re_passward">비밀번호 확인 :</label>
                            <input type="password" name="re_user_pw" id="chk_pw" required/>
                            <p id="res"></p>
                        </div>
                        <div class="form-group">
                            <label for="name">이름 :</label>
                            <input type="text" name="user_name" id="user_name" required/>
                        </div>
                        <div class="form-group">
                            <label for="email">이메일 :</label>
                            <input type="email" name="email" id="email" required/>
                        </div>
                        <div class="form-radio">
                            <label for="lang" class="radio-label">전문분야 : </label>
                            <div class="form-radio-item">
                                <input type="radio" name="lang" id="Python" value="Python" required/>
                                <label for="Python">Python</label>
                                <span class="check"></span>
                            </div>
                            <div class="form-radio-item">
                                <input type="radio" name="lang" id="Java" value="Java">
                                <label for="Java">Java</label>
                                <span class="check"></span>
                                
                            </div>
                        </div>
                        <br>
                        <input type = "hidden" name = "user_type" value = {{user_type}}>
                        <div class="form-submit"> 
                            
                            <input type="submit" value="Submit Form" class="submit" name="submit" id="submit" style= "float: right"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

    <!-- JS -->
    <script src="../../static/sign/assets/vendor/jquery/jquery.min.js"></script>
    <script src="../../static/sign/assets/js/main.js"></script>
    <script>
        let checker = chk_pw.addEventListener('change',(e) => {
            let pw = document.getElementById('pw')
            let chk_pw = document.getElementById('chk_pw')
            let res = document.getElementById('res')

            if (pw.value == chk_pw.value) {
                res.innerHTML = '비밀번호가 일치합니다.'
                pw.classList.remove('error')
                chk_pw.classList.remove('error')
                res.style.color = 'green'
                submit.disabled = false
            } else {
                res.innerHTML = '비밀번호가 일치하지 않습니다.'
                pw.classList.add('error')
                chk_pw.classList.add('error')
                res.style.color = 'red'
                submit.disbled = true
            }
        })
        
    </script>   
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>






<!-- <h1>회원가입 선생</h1>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sign up page</title>
</head>
<body>
    <form method = "POST" action = "/sign/regist_user/">
        {% csrf_token %}
        <br>
        ID :
        <br>
        <input type="text" name = 'user_id' placeholder ="아이디">
        <br>
        비밀번호 :
        <br>
        <input type="password" name = 'user_pw' id='pw'>
        <br>
        비밀번호 확인 :
        <br>
        <input type="password" name = 're_user_pw' id='chk_pw'>
        <div id="alert"></div>
        이름 :
        <br>
        <input type="text" name = 'user_name' placeholder ="홍길동">
        <br>
        이메일 : 
        <br>
        <input type="email" name = 'email' placeholder ="codeTo@codeTo.com">
        <br>
        전문분야 :
        <br>
        <select name="field_main" id="field">
            <option value="Java">Java</option>
            <option value="Python">Python</option>
        </select> <br>
        <!-- <input type="radio" name="field_main" value="Python">Python
        <input type="radio" name="field_main" value="Java">Java -->
        <!-- 생년월일 :
        <br>
        <input type="date" name = 'birthday'>
        
        <br> 
        <input type="hidden" name = 'user_type' value={{user_type}}>
        <input type="submit" value = "가입" id='submit'>
    </form>
    <script>
        let check = chk_pw.addEventListener('change', (e) => {
            let pw = document.getElementById('pw')
            let chk_pw = document.getElementById('chk_pw')
            let alert = document.getElementById('alert')
            
            if (pw.value == chk_pw.value) {
                alert.innerHTML = "비밀번호가 일치합니다."
                alert.style.color = 'green'
                submit.disabled = false
            } else {
                alert.innerHTML = "비밀번호가 일치하지 않습니다"
                alert.style.color = 'red'
                submit.disabled = true
            }
        })
    </script>    
</body>
</html>-->
