<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sign in page</title>
</head>
<body>
    <form method = "POST" action="/sign/login/">
        {% csrf_token %}
        ID:
        <br>
        <input type="char" name = 'user_id' maxlength="20">
        <br>
        Password:
        <br>
        <input type="password" name = 'user_pw' maxlength="20">
        <br>
        <input type="submit">
    </form>
    <!-- <script src = "http://code.jquery.com/jquery-3.3.1.min.js"></script> -->
    <!-- <script>
            $("[name=user_id").blur(() =>{
            $.ajax({
                type: 'POST',
                url: '/sign/login/',
                data: $('form').serialize(),
                success: function(res) {
                    console.log(res);
                }
            })

        })
    </script> -->
</body>
</html>